C#/MySocialGolf.DTOManager/bin/
C#/MySocialGolf.DTOManager/obj/
C#/MySocialGolf.DTOModel/obj/
C#/MySocialGolf.Extensions/obj/
C#/MySocialGolf.Manager.RESTful/bin/
C#/MySocialGolf.Manager.RESTful/obj/
C#/MySocialGolf.Manager/bin/
C#/MySocialGolf.Manager/obj/
C#/MySocialGolf.Model/obj/
C#/MySocialGolf.Web.API/bin/
C#/MySocialGolf.Web.API/obj/
C#/packages/
