@{
    ViewBag.Title = "Home Page";
}

<h2>Track Your Social Golf Handicap</h2>
<p>
    Play a round, enter your score, keep track of your Social Golf Handicap. Your mates scores will also be displayed here. Great conversation at the 19th or the next Golf Trip.
</p>
<br />
<img src="~/Images/MainPageMobile.jpg" class="mainimage"/>