@{
    ViewBag.Title = "Home Page";
}

<h2>Track Your Social Golf Group here</h2>
<p>
    This is the central location for you and your mates to keep track of each other's Social Handicap. As we know this all leads to some great banter at the 19th or at the next Golf Trip. Click a menu item to get started.
</p>
<br />
<img src="~/Images/MainPage.jpg" class="mainimage"/>