@{
    ViewBag.Title = "Home Page";
}

<h2>Track Your Social Golf handicap</h2>
<p>
    Play a Round, enter your score and we'll keep track of eep track of your own Social Handicap. your mates to keep track of each other's Social Handicap. As we know this all leads to some great banter at the 19th or at the next Golf Trip. Click a menu item to get started.
</p>
<br />
<img src="~/Images/MainPage.jpg" class="mainimage"/>