<connectionStrings>
  <add name="MySocialGolfConnectionString" connectionString="Data Source=SJWMBP;Initial Catalog=MySocialGolf;User ID=sa;password=sql;Persist Security Info=False;workstation id={0}" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplicationWithLogOn1-20170805042229.mdf;Initial Catalog=aspnet-WebApplicationWithLogOn1-20170805042229;Integrated Security=True"
  providerName="System.Data.SqlClient" />
</connectionStrings>