
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@* Admin links *@
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("API", "Index", "Help")</li>
        <li>@Html.ActionLink("Test API", "List", "TestAPI")</li>
        <li>@Html.ActionLink("Email", "Email", "Admin")</li>
    </ul>
</div>


